/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
}
    a {
    color: white;
    text-decoration: none;
    }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
    text-align: center;
  }

  h1 {
      color: white;
      font-style: black;
      font-size: 26px;
  }
  
  a {
      font-weight: bold;
      font-size: 16px;
  }
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  h1 {
      margin: 0 auto;
      line-height: 58px;
  }

  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  
  header {
      background-color: #f8765e;
  }