/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  ul {
      margin: 0;
      padding: 0;
  }
  
  li {
    list-style-type: none;
    }
    
    a {
    color: white;
    text-decoration: none;
    }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 147%;
    text-align: center;
  }

  h1 {
      color: white;
      font-style: black;
      font-size: 26px;
  }
  
  h2 {
      color: white;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
    
      }
      
  h3 {  
        color: #031D5B;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        text-align: left;
        margin-left: 20px;
      }
  a {
      font-weight: bold;
      font-size: 16px;
  }
  .section1 p {
      color: white;
      font-weight: bold;
      font-size: 16px;
      line-height: 32px;
      position: relative;
      top: -15px;
      z-index: 0;
  }

  .parrafo {
    color: #5B6C94;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .section3 p {
    margin-left: 30px;
  }

  .section3 h2 {
        color: #F8765E;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        margin-top: 75px;
        text-align: center;
    }

    .section3 h3 {
        color: #031D5B;
        font-size: 26px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        margin-left:0;
        
    }

    .textCostumers {
        color: #F8765E;
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
    }

    footer p {
        color: white;
        font-size: 16px;
        font-weight: bold;
        line-height: 32px;
        padding-top: 40px;
    }

    .sectionSuscribe h2 {
        color: #F8765E;
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
        padding: 0;
    }

    .sectionSuscribe h3 {
        color: #CDCDCD;
        font-size: 26px;
        font-weight: 500;
        line-height: 45px;
        padding: 0;
        margin-bottom: 40px;
    }



  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: #f8765e;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 40px;
  }
  
  h1 {
      margin: 0 auto;
      line-height: 58px;
  }

  .container {
      margin: 30px;
  }

  form {
      display:inline-block;
      position: relative;
      top: -20px;
  }

  .textCostumers {
      position: relative;
      top: -140px;
      margin-right: 210px;
      

  }


  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  
  header {
      background-color: #f8765e;
  }

  footer {
    background-color: #f8765e;
  }

  section img {
      width: 80%;
      margin-top: 40px;
      
  }

  .section1 {
      background-color: #f8765e;
  }

  form input {
      width: 335px;
      height: 60px;
      display:inline-block;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 17px;
      color: #cdcdcd;
      padding: 21px 25px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 20px; 
      padding: 30px auto;
      box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.15);
      border-style: none;
    
  }

  form button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #9bdbe7;
    padding: 15px;
    border-radius: 15px; 
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.14);
    margin-bottom: 120px;
    border-style: none;
    }

  .cards {
    height: 1571px;	
    width: 335px;
    background-color: white;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);
    margin: 20px;  
    border-radius: 20px;  
    position: relative;
    top: -64px;
    z-index: 10;

  }

  .cards img {
    width:60%;
    margin: 38px 0 38px 0;
  }

.cards div {
    height: 5px;
    width: 60px;
    background-color: #F8765E;
    margin-left: 20px;
}

.section3 {
    position: relative;
}

.section3 div {
    height: 296.07px;
    width: 296px;
    background-color: #F8765E;
    margin-left: 40px;
    border-radius: 200px;
}

.section3 img {
    width: 50%;
    position: absolute;
    top: -80px;
    left: 90px;
}

.section3 button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 178px;
    border-radius: 20px;
    background-color: #9BDBE7;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.14);
    margin-bottom: 100px;
    border-style: none;

}

.sectionquotes {
    text-align: left;
}

.img-big-quote {
    text-align: left;
    width: 35%;
}